@{
    ViewBag.Title = "About";
}
<link href="~/Content/Footer.css" rel="stylesheet" />
<style>
    .paragraph {
        font-size: 20px;
    }

    .img-fluid{
        width:50%;
    }
</style>
<center><img src="../../Images/About.jpg" class="img-fluid" alt="Responsive image"></center>
<h2>What We Believe</h2>
</br>
</br>
<p class="paragraph">
    We believe that <b><u>great products</u></b> are the key to a successful company. </br>
    So we focus most of our energy on keeping instruments clean, and we challenge ourselves to use our own products </br>
    just like our customers do every day. Some call this "eating your own dogfood" – we call this common sense.
</p>
